.apt_generated/
local/
*/bin/
*/gen/
luper-android/local.properties
luper-android/local/
luper-android-test/local.properties
.idea
luper-android/.idea
*.dex
*.class
*.classpath
.classpath
*.iml
*.eml
.DS_Store
*.DS_Store
