.apt_generated/
luper-android/bin/
luper-android/gen/
luper-android/local.properties
luper-android/local/
luper-android-test/bin/
luper-android-test/gen/
luper-android-test/local.properties
actionbarsherlock/bin/
actionbarsherlock/gen/
*.dex
*.class
*.iml
.DS_Store
*.DS_Store
