body{
	margin:0;
	background: #443e3a;
	font-family:"Times New Roman", Times, serif;
	color:#000;
}

a,a:link,a:active,a:visited{
	color:#000;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

h1, h2 {
	margin: 4px;
	padding: 0;
}

.darkred {
	color: rgb(177,0,0);
}

#container {
	width: 80%;
	min-width: 930px;
	margin: auto;
}

#content {
	margin: 15px 0;
	background:#e6e2d9;
	padding: 12px 10px 12px 10px;
	font-size: 13pt;
	border:solid 1px #fff;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  overflow: hidden;
}

.halfcolumn {
	float: left;
	width: 50%;
}

.fullcolumn {
	width: 100%;
	clear: both;
	min-width: 930px;
}

#header {
	margin:15px 0;
	background:#e6e2d9;
	border:solid 1px #fff;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	text-align:center;
}
#header button:hover {
	background:#d4d4d4;
}
#header .active, #header button:active {
	background:#ccc;
}

#header button {
	padding-left:20px;
	padding-right:20px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:1.5em;
	font-size:13pt;
	border:none;
	background:none;
}
#header button a {
	display: inline-block;
	padding: 5px 0;
}

#appicon {
	margin: 10px;
}

#downloadlink {
	font-size: 24px;
}

.bigindent {
	text-align: left;
	margin-left: 150px;
}
.bigindent h2 {
	margin-left: 40px;
}

ol.leftalign { 
	text-align: left;
	font-size: 20px;
}

#footer {
	text-align: center;
	color: #FFF;
}